<div class="main user-show">
    <div class="container">
    <div class="user">
    <% if @user %>
            <img src="<%= "/user_images/#{@user.image_name}"%>">
            <!-- 以下で、ユーザー名を出力してください -->
            <h2><%= @user.name %></h2>
            <!-- 以下で、メールアドレスを出力してください -->
            <p><%= @user.email %></p>

    </div>

        <% if @user.id == @current_user.id %>
        <%= button_to "編集", "/users/#{@user.id}/edit", {method: :get}  %>
        <% else %>
            <!--フォローボタン設定のため追記 -->
            <% if @user.followed_by?(@current_user)%>
                <%= button_to "フォロー解除", user_relationships_path(@user), {method: :delete} %>
                
            <% else %>
                <%= button_to "フォロー", user_relationships_path(@user) %>
            <% end %>
        <% end %>

    </div>

    <%  @user.posts.each do |post| %>
        <div class="posts-index-item">
        <div class="post-left">
            <!-- ユーザーの画像が表示されるように、以下のsrcに値を追加してください -->
            <img src="<%= "/user_images/#{@user.image_name}" %>" >
        </div>
        <div class="post-right">
            <div class="post-user-name">
            <!-- link_toメソッドを用いて、ユーザー詳細ページへのリンクを作成してください -->
            <%= link_to(post.user.name, "/users/#{post.user.id}")%>
        </div>
            <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
    </div>
        <% end %>
    <% end %>
</div>