
<div class="main posts-index">
  <div class="container">
    <div class="posts-index-item">
      <h1 class="form-heading">投稿する</h1>
      <% @post.errors.full_messages.each do |message|%>
        <%= message %>
      <%end%>

  <%= form_tag("/posts/#{@post.id}/create", {multipart: true}) do %>
  <div class="form">
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
        <%= message %>
        <% end %>
        <!-- 画像投稿 -->
        <p>画像</p>
        <input name="image" type="file">
        <textarea name="content"><%= @post.content %></textarea>
        <input type="submit" value="保存">
      </div>
    </div>
  <% end %>
      <h1 class="form-heading">投稿一覧</h1>

      <% @posts.each do |post| %>
        <% if @current_user.following?(post.user) || post.user_id == @current_user.id %>
          <div class="posts-index-item">
            <!-- 画像投稿-->
            <div class="post-image-original">
              <img src="<%= "/post_images/#{post.image}" %>">
            </div>
            <%= link_to(post.content, "/posts/#{post.id}") %>
            <!-- 何分前か表示するために追記-->
            <i class="far fa-clock clock-icon"></i><%= time_ago_in_words(post.created_at) %>前


            <!-- いいね機能実装のため追記 -->
            <% if Like.find_by(user_id:@current_user.id, post_id:post.id) %>
              <%= button_to "/likes/#{post.id}/destroy" do %>
                <span class="fa fa-heart liked-btn",style="color: #ff0000;"></span>
              <% end %>
            <% else %>
              <%= button_to "/likes/#{post.id}/create" do %>
              <span class="fa fa-heart liked-btn"></span>
              <% end %>
            <% end %>
            <%= post.likes_count%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div> 