<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">

        <!-- link_toメソッドを用いて、ユーザー詳細ページへのリンクを作成してください -->
        <%= link_to(@user.name, "/users/#{@post.user_id}") %> 
      </div>

      <%= @post.content %>

      <div class="post-time">
        <!-- @postのcreated_atカラムのデータを表示してください -->
        <%= @post.created_at %>
      </div>

      <% if Like.find_by(user_id:@current_user.id, post_id:@post.id) %>
        <%= button_to "/likes/#{@post.id}/destroy" do %>
          <span class="fa fa-heart liked-btn"></span>
        <% end %>
      <% else %>
        <%= button_to "/likes/#{@post.id}/create" do %>
        <span class="fa fa-heart liked-btn"></span>
        <% end %>
      <% end %>

      <%= @likes_count%>

      <!-- フォロー機能実装 -->
      <!-- % if @current_user.following?(user) %-->
        <%= button_to "フォロー解除", user_relationships_path(@user.id), method: :delete %>
      <!--% else %-->
        <%= button_to "フォローする", user_relationships_path(@user.id) %>
      <!--% end % -->


      <div class="post-menus">
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/posts/#{@post.id}/edit") %>
        <%= link_to("削除", "/posts/#{@post.id}/destroy",
        {method: "post"}) %>

      <% end %>
      </div>  
    </div>
  </div>
</div>