<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <%= link_to("TweetApp","/") %>
    <ul  class="header-menus">
      <%= link_to("TweetAppとは", "/about") %>
      <%= link_to("投稿一覧","/posts/index") %>
      <%= link_to("新規投稿","/posts/new") %>
      </div>
    </ul>
  </header>
    <%= yield %>
  </body>
</html>
